html {

background-color: #FFF55D;
font-family:sans-serif
}

.center{

	text-align: center;
}

.image{

	width: 600px;
}

#mainimg{

	display:block;
	margin:auto;
}

#headline{

	text-align: center;
	padding:20px;
	border:5px;
	border-style:double;
	border-color:black;
}
